img {
    max-width: 100%;
    height: auto;
    display: block;
}

.hidden, .hide {
    display: none;
}

/*label {*/
/*    color: aliceblue;*/
/*}*/

body {
    background-color: black;
    margin: 0;
    padding: 0;
}

td {
    padding: 0;
}

table {
    border-spacing: 0;
    border: none;
}