img {
    max-width: 100%;
    height: auto;
    display: block;
}

.hidden, .hide {
    display: none;
}

body {
    background-color: black;
    margin: 0;
    padding: 0;
}

p.about {
    color: red;
    text-align: center;
    font-size: 109px;
    margin: 0;
}

td {
    padding: 0;
}

table {
    border-spacing: 0;
    border: none;
}